/* src/components/TopBar/TopBar.module.css */

.topBar {
  display: contents;
  align-items: center; /* Alinha verticalmente */
  justify-content: left; /* Distribui os itens horizontalmente */
  height: 41px; /* Altura fixa */
  background: #d9d9d9; /* Fundo cinza claro */
  margin-bottom: 50px; /* Margem inferior */
  padding: 0 20px; /* Preenchimento lateral para melhorar a aparência */
}

.item {
  font-size: 22px;
  line-height: 100%;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /*Vertical alignment*/
  color: #333;
  margin-left: 40px;
  margin-right: 200px; /* Espaçamento entre itens de texto */
}

.separator {
  width: 1px;
  height: 41px;
  background-color: #ccc;
  margin: 0 20px;

  /* Adicione isso para debug */
  border: 2px solid rgb(0, 0, 0); /* Uma borda visível para teste */
}
.icon {
  width: 38px;
  height: 40px;
  margin-left: 15px;
  margin-right: 20px;
}
