.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribui itens ao longo da largura */
  width: 100vw; /* Ocupa 100% da largura da viewport */
  height: 41px;
  background: #d9d9d9;
  margin-bottom: 50px;
  box-sizing: border-box; /* Para o padding não aumentar o width */
  flex-wrap: nowrap; /* Evita quebra */
}

.item {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  margin: 0 10px;
  white-space: nowrap; /* impede quebra de linha em textos */
}

.icon {
  width: 38px;
  height: 40px;
  margin: 0 8px;
  cursor: pointer;
}

.separator {
  width: 1px;
  height: 41px;
  background-color: #ccc;
  margin: 0 10px;
}
